@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Philosopher&family=Poppins:wght@300&display=swap');

#error-msg {
    color: red;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 40px;
    display: none; /* hidden by default. */
  }
  #deleteAllBtn{
    display: none; /* hidden by default. */
  }

  /*ÖVRIG STYLING*/
  body{
    background-image: url(../img/höst.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', sans-serif;
  }
  #wrapper{
    width: 75%;
    min-height: 600px; 
    margin: 40px auto; 
    border: 2px solid #ffffff75;
    box-shadow: 5px 5px 12px 00000035;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(4px);
  }
  h1 {
    text-align:center;
    letter-spacing: 1px;
  }
  h2 {
    margin-left: 40px; 
    margin-top:50px;
    letter-spacing: 1px;
  }
  #createBtn, #deleteAllBtn{
    width: 150px; 
    margin-right: 8px; 
  }
  #phone-input, #name-input{
    width: 200px;
    margin-right: 8px;
    padding: 2px; 
    margin-top: 10px; 
  }
  #name-input{
  margin-left: 40px;
  }
  input {
    width: 200px;
    height: 20px; 
    margin-right: 12px; 
    padding: 2px; 
    border: solid 1.5px #676161;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -3px -3px 6px rgba(255, 255, 255, 0.3);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75em;
  }
  button {
    width: 100px;
    height: 30px;
    margin: 20px auto 0 8px;
    border-radius: 15px;
    background-color: #ffffffbd;
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
  }
button:hover {
  color: #fff;
  background-color: #313030;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.945); 
  scale: 1.1;
 }

 /*Animation for input*/
.animated-input:focus::placeholder {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.4s ease;
}

 /* Media Query for Small Screens */
@media (max-width: 1075px) {
 #wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
 }
 #createBtn, #deleteAllBtn, #name-input, #phone-input{
 margin: 10px auto;
 width:25%;
}
button{
  margin-left:0;
  width: 15%;
}
input{
  width:30%;
  font-size: 0.75em;
}
ul {
  width: 80%;
}
}

/* Media Query for smaller screens */
@media (max-width: 860px){
  #wrapper{
    width: 90%;
  }
  input{
    width:20%;
    margin: 10px auto; 
    margin-right: 4px;
  }
  button {
   width: 15%;
  font-size: 10px;
  }
}
 